/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
    margin: 0;
    display: flex;
	flex-direction: column;
    justify-content: center;
	background-color: #FFFEF8;
}

.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

a {
	text-decoration: none;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
li a{
	color: black;
}

li a:hover {
	color: #B1663C;
}

/* Introduction */

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* portfolio */

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery div{
	overflow: hidden;
}

.gallery img {
	width: 100%;
}

.gallery img:hover {
	transform: scale(1.1);
	transition: transform .5s;
}

.filters{
	display:flex;
	justify-content: center;
	margin: 2.7em;
}

.filters-button{
	margin: 5px;
	padding: 10px 15px;
	border: #1D6154 solid 1px;
	border-radius: 60px;
	font-family: 'Syne';
	color: #1D6154;
	background-color: unset;
	cursor: pointer;
}

#all-button {
	background-color: #1D6154;
	color: white;
}

.filters-button:hover{
	background-color: #1d615424;
	transition: 0.2s linear;
}

#all-button:hover{
	background-color: #1d6154c6;
	color: white;
	transition: 0.2s linear;
}

/* form */

#contact{
	width: 50%;
	margin: auto;
}

#contact h2,
#login h2{
	text-align: center;
	margin-bottom: 20px;
}

form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 1.7em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #1d6154db;
	color: white;
	transition: 0.2s linear;
}
input[type="submit"]:active{
	background-color: #1d615470;
	
}

.error-message {
	padding: 20px 20px 0 0;
	font-weight: bold;
	color: red;
}

.message-hidden {
	display: none;
}

/* footer */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* ************* */
/* LOGIN VERSION */
/* ************* */

/* .hidden{
	display: none;
} */

.homepage-edit-bar {
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.25em;
}

.homepage-edit-bar i{
	color: white;
}

.edit-project{
	display: flex;
	justify-content: center;
}

.edit-project-button{
	margin: 10px 20px;
	border: 0;
	background-color: unset;
	cursor: pointer;
}