body {
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

#login{
	width: 30%;
	margin: auto;
}

#login-button{
	font-weight: bold;
	cursor: auto;
}

.forgot-password {
	text-align: center;
	text-decoration: underline;
	color: #3D3D3D;
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight:500;
}

#footer-login{
	position: fixed;
  	bottom: 0;
  	left: 0;
}